.tag-label {
    border-radius: 12px;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 2px 10px;
    color: #333;
    font-size: 12px;
    margin-right: 2px;
    background: #fff;
    margin-bottom: 5px;
    line-height: 16px;
    position: relative;
}

layui-table th {
    padding: 5px 0;
    border-top: none;
    border-left: none;
}

.laytable-cell-1-0-0 {
    width: 40%;
}

.laytable-cell-1-0-1 {
    width: 15%;
}

.laytable-cell-1-0-2 {
    width: 15%;
}

.laytable-cell-1-0-3 {
    width: 15%;
}

.laytable-cell-1-0-4 {
    width: 15%;
}

.laytable-cell-4-0-0 {
    width: 90%;
}

.laytable-cell-4-0-1 {
    width: 10%;
}

.layui-none {
    line-height: 26px;
    padding: 15px;
    text-align: center;
    color: #999;
}



.tags-input{
  font-size: 14px;
  padding: 0;
  background-color: inherit;
  border: none;
  color: inherit;
  width: 10em;
}