<div class="layui-container">
    <ul class="layui-clear">
        <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
        <li><a href="{% url 'classify_type' 0 %}">全部</a></li>
        {% for type in types %}
            <li><a href={% url "classify_type" type.pk %}>{{ type.type_name }}</a></li>
        {% endfor %}

        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

        {% if request.user.is_authenticated %}
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="{% url "user_info" %}">我发表的贴</a></li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="{% url "user_info" %}?col=1">我收藏的贴</a></li>
        {% endif %}
    </ul>

    <div class="fly-column-right layui-hide-xs">

        <a href="{% url "add_article" %}" class="layui-btn">发表新帖</a>
    </div>
    <div class="layui-hide-sm layui-show-xs-block"
         style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
        <a href="{% url "add_article" %}" class="layui-btn">发表新帖</a>
    </div>

</div>