{% extends "template.html" %}

{% block title %}首页{% endblock %}

{% block add_head %}
    <link rel="stylesheet" href="/static/css/test.css">
{% endblock %}

{% load like_tags %}

{% block body %}
<div class="fly-panel fly-column">
    {% include 'common/head_2.html' %}
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md9">
            <div class="fly-panel">
                <div class="fly-panel-title fly-filter">

                    <a>置顶</a>
                </div>
                <ul class="fly-list">

                    {% for article in stick_article %}
                        <li>
                            <a href="{% url 'user_home' article.author.username %}" class="fly-avatar">
                                <img src="{{ article.author.url }}"
                                     alt="{{ article.author }}">
                            </a>

                        {% if article.tags.all %}

                            <h2 style="float: left; white-space: nowrap;overflow: inherit;">
                                <!--
                                <a class="layui-badge">{{ article.type }}</a>
                                -->
                                <a href={% url "article_detail" article.pk %}>{{ article.title }}</a>
                            </h2>
                            {% for tag in article.tags.all %}
                                <a href="" class="tag-label" >{{ tag }}</a>
                            {% endfor %}

                        {% else %}
                             <h2>
                                <!--
                                <a class="layui-badge">{{ article.type }}</a>
                                -->
                                <a href={% url "article_detail" article.pk %}>{{ article.title }}</a>
                            </h2>
                        {% endif %}

                        <div class="fly-list-info">
                            <a href={% url "my_home" %} link>
                                <cite>{{ article.author }}</cite>
                                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                <i class="layui-badge fly-badge-vip">VIP3</i>
                            </a>
                            <span>{{ article.create_time|date:"Y-m-d" }} 发表在 &nbsp;[
                                <a href="">{{ article.type }}</a>
                                ]
                            </span>
                            <!--
                            <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
                            -->
                            <span class="fly-list-nums">
                                回复 {{ article.comment_set.all|length }} &nbsp;&nbsp;|&nbsp;&nbsp;
                                赞 {% get_like_count article %} &nbsp;&nbsp;|&nbsp;
                                浏览 {{ article.get_read_num }}
                            </span>
                        </div>
                        <div class="fly-list-badge">
                            <!--
                            <span class="layui-badge layui-bg-black">置顶</span>
                            <span class="layui-badge layui-bg-red">精帖</span>
                            -->
                        </div>
                    </li>
                    {% empty %}
                        <div class="fly-none">没有相关数据</div>
                    {% endfor %}

                </ul>
            </div>

            <div class="fly-panel" style="margin-bottom: 0;">

                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">最新回复</a>
                    <span class="fly-mid"></span>
                    <a href="">最近发表</a>
                    <span class="fly-mid"></span>
                    <a href="">最热</a>
                    <span class="fly-mid"></span>
                    <a href="">精华</a>
                    <span class="fly-filter-right layui-hide-xs"> <a href="" class="layui-this">按最新</a>
                    <span class="fly-mid"></span><a href="">按热议</a></span>
                </div>

                <ul class="fly-list">

                    {% for article in articles %}

                        <li>
                            <a href="{% url 'user_home' article.author.username %}" class="fly-avatar">
                                <img src="{{ article.author.url }}"
                                     alt="{{ article.author }}">
                            </a>

                        {% if article.tags.all %}

                            <h2 style="float: left; white-space: nowrap;overflow: inherit;">
                                <!--
                                <a class="layui-badge">{{ article.type }}</a>
                                -->
                                <a href={% url "article_detail" article.pk %}>{{ article.title }}</a>
                            </h2>
                            {% for tag in article.tags.all %}
                                <a href="" class="tag-label" >{{ tag }}</a>
                            {% endfor %}

                        {% else %}
                             <h2>
                                <!--
                                <a class="layui-badge">{{ article.type }}</a>
                                -->
                                <a href={% url "article_detail" article.pk %}>{{ article.title }}</a>
                            </h2>
                        {% endif %}

                        <div class="fly-list-info">
                            <a href={% url "my_home" %} link>
                                <cite>{{ article.author }}</cite>
                                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                <i class="layui-badge fly-badge-vip">VIP3</i>
                            </a>
                            <span>{{ article.create_time|date:"Y-m-d" }} 发表在 &nbsp;[
                                <a href="">{{ article.type }}</a>
                                ]
                            </span>
                            <!--
                            <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
                            -->
                            <span class="fly-list-nums">
                                回复 {{ article.comment_set.all|length }} &nbsp;&nbsp;|&nbsp;&nbsp;
                                赞 {% get_like_count article %} &nbsp;&nbsp;|&nbsp;&nbsp;
                                浏览 {{ article.get_read_num }}
                            </span>
                        </div>
                        <div class="fly-list-badge">
                            <!--
                            <span class="layui-badge layui-bg-black">置顶</span>
                            <span class="layui-badge layui-bg-red">精帖</span>
                            -->
                        </div>
                    </li>
                    {% empty %}
                        <div class="fly-none">没有相关数据</div>
                    {% endfor %}

                </ul>
                <div style="text-align: center">
                    <div class="laypage-main">
                        <a href="{% url "classify_type" 0 %}" class="laypage-next">更多帖子</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-col-md3">

            <div class="fly-panel">
                <h3 class="fly-panel-title">温馨通道</h3>
                <ul class="fly-panel-main fly-list-static">
                    <li>
                        <a href="http://acm.hnust.edu.cn/" target="_blank">湖南科技大学Online Judge</a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/5366/" target="_blank">
                            网站常见问题的处理和实用干货集锦
                        </a>
                    </li>

                </ul>
            </div>

            {% include 'common/hot_article.html' %}

            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title">回贴周榜</h3>
                <dl>
                    <dd>
                        <a href="{{ article.author }}" >
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" >
                        </a>
                    </dd>

                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>

                </dl>
            </div>




            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="http://www.layui.com/" target="_blank">layui</a>
                    <dd>
                    <dd><a href="http://layim.layui.com/" target="_blank">WebIM</a>
                    <dd>
                    <dd><a href="http://layer.layui.com/" target="_blank">layer</a>
                    <dd>
                    <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a>
                    <dd>
                    <dd>
                        <a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE"
                           class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>


{% endblock %}