{% extends 'article/template_article.html' %}

{% block title %} ACM社区 {% endblock %}

{% load like_tags %}

{% block article_body %}
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md9">
                <div class="fly-panel" style="margin-bottom: 0;">

                    {% if article_num %}
                        <div class="fly-panel-title fly-filter">
                            <div style="font-size: large">
                                <span>搜索</span>
                                <span style="color: red">{{ key_word }}</span>
                                <span>, 共搜到{{ article_num }}篇相关帖子</span>
                            </div>
                        </div>

                        <ul class="fly-list">
                            {% for article in articles %}
                            <li>
                                <a href="{% url 'user_home' article.author.username %}" class="fly-avatar">
                                    <img src="{{ article.author.url }}"
                                         alt="{{ article.author }}">
                                </a>
                                {% if article.tags.all %}
                                    <h2 style="float: left; white-space: nowrap;overflow: inherit;">
                                        <a href={% url "article_detail" article.pk %}>{{ article.title }}</a>
                                    </h2>
                                    {% for tag in article.tags.all %}
                                        <a href="" class="tag-label" >{{ tag }}</a>
                                    {% endfor %}
                                {% else %}
                                     <h2>
                                        <a href={% url "article_detail" article.pk %}>{{ article.title }}</a>
                                    </h2>
                                {% endif %}
                                <div class="fly-list-badge">
                                    {% if article.is_stick %}
                                        <span class="layui-badge layui-bg-black">置顶</span>
                                    {% endif %}
                                </div>
                                <div class="fly-list-info">
                                    <a class="user-name" href="{% url 'user_home' article.author.username %}" link>
                                        <cite>{{ article.author }}</cite>
                                        {% if article.author.info %}
                                            <i class="iconfont icon-renzheng" title="认证信息：ACMer"></i>
                                        {% endif %}
                                    </a>
                                    <span class="layui-hide-xs">{{ article.create_time|date:"Y-m-d" }} 发表在 &nbsp;[
                                        <a href="">{{ article.type }}</a>
                                        ]
                                    </span>
                                    <span class="fly-list-nums">
                                        回复 {{ article.comment_set.all|length }} &nbsp;&nbsp;|&nbsp;&nbsp;
                                        赞 {% get_like_count article %} &nbsp;&nbsp;|&nbsp;&nbsp;
                                        浏览 {{ article.get_read_num }}
                                    </span>
                                </div>
                            </li>
                            {% empty %}
                                <p>没有更多内容了</p>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="fly-panel-title fly-filter">
                            <div style="font-size: large">
                                <span>没有搜索到</span>
                                <span style="color: red">{{ key_word }}</span>
                                <span>相关的帖子哦, 换个关键字试试吧</span>
                            </div>
                        </div>
                    {% endif %}

                    <div style="text-align: center">
                        <div class="laypage-main">
                            {% if page_articles.has_previous %}
                                <a href="?page={{ page_articles.previous_page_number }}" class="laypage-prev">上一页</a>

                            {% endif %}

                            {% for page_num in page_articles.paginator.page_range %}
                                {% if page_articles.number == page_num %}
                                    <a href="?page={{ page_num }}" class="laypage-curr">{{ page_num }}</a>
                                {% else %}
                                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                            <span>…</span>

                            {% if page_articles.has_next %}
                                <a href="?page={{ page_articles.next_page_number }}"class="laypage-next">下一页</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-col-md3">
                {% include 'common/hot_article.html' %}

                <div class="fly-panel fly-link">

                </div>

            </div>
        </div>
    </div>

{% endblock %}