<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block add_head %} {% endblock %}
    {% load static %}
    {% load notifications_tags %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'notifications/notify.js' %}"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>


<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/static/images/title.png" alt="ACM">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
            </li>
            <li class="layui-nav-item">
                <a href="http://acm.hnust.edu.cn"><i class="iconfont icon-iconmingxinganli"></i>Online Judge</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://github.com/yuanquan99/yuanquan" target="_blank"><i
                        class="layui-icon layui-icon-fonts-code"></i>项目源码</a>
            </li>
        </ul>
        <ul class="layui-nav fly-nav-user">
            {% if request.user.is_authenticated %}
                <li style="margin-top: 20px">
                    <span style="color: #fff">
                        <span class="fly-search">
                            <i class="layui-icon"></i>
                            <span style="margin-left: 3px">搜索 &nbsp;</span>
                        </span>
                    </span> |
                </li>
                <li style="margin-top: 20px">

                    <a href="{% url 'message' %}" style="color: #fff">
                        <span class="fly-message">
                            <i class="layui-icon">&#xe63a;</i>
                            <span style="margin-left: 3px">消息</span>
                            {% notifications_unread as unread_count %}
                            {% if unread_count %}
                                <span class="layui-badge layui-bg-green live_notify_badge">{% notifications_unread %}</span>
                            {% endif %}
                        </span>
                    </a> |
                </li>
                <li class="layui-nav-item">
                    <span class="fly-nav-avatar" href={% url "my_home" %}>
                        <!-- <cite class="layui-hide-xs">{{ user.username }}</cite>
                        <i class="iconfont icon-renzheng layui-hide-xs" title=""></i>
                        <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i> -->
                        <img src="{{ request.user.url }}" id="user-img-nav">
                    </span>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="{% url 'settings' %}"><i class="layui-icon">&#xe620;</i>基本设置</a>
                        </dd>
                        <dd>
                            <a href={% url 'user_info' %}>
                                <i class="layui-icon layui-icon-user" style="margin-left: 2px; font-size: 22px"></i>个人中心
                            </a>
                        </dd>
                        <dd>
                            <a href={% url 'my_home' %}>
                                <i class="layui-icon" style="margin-left: 2px; font-size: 22px">&#xe68e;</i>我的主页
                            </a>
                        </dd>
                        {% if request.user.is_superuser %}
                            <dd>
                                <a href="/admin"><i class="layui-icon" style="margin-left: 2px; font-size: 22px">&#xe674;</i>后台管理</a>
                            </dd>
                        {% endif %}

                        <hr style="margin: 5px 0;">
                        <dd>
                            <a href={% url 'logout' %} style="text-align: center">退出登录</a>
                        </dd>
                    </dl>
                </li>
            {% else %}
                <!-- 未登入的状态 -->
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs" href={% url "login" %}></a>
                </li>
                <li class="layui-nav-item">
                    <a href={% url "login" %}>登入</a>
                </li>
                <li class="layui-nav-item">
                    <a href={% url "register" %}>注册</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>


{% block body %}{% endblock %}


<div class="fly-footer">
    <p><a href="http://acm.hnust.edu.cn/" target="_blank">HNUST ACM</a>2019 &copy; yuanquan.ac 出品</p>
    <p>社区使用开源前端 <a href="http://fly.layui.com">Layui</a></p>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    layui.config({
        version: "3.0.0"
        , base: '/static/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
    // 实时获取未读消息数量
    function fill_notification_read_num(data) {
        unread_count = data['unread_count'];
        if (unread_count != 0) {
            $('.live_notify_badge').text(unread_count);
        }
    }

</script>

{% register_notify_callbacks callbacks='fill_notification_read_num' %}
{% block add_script %}{% endblock %}
</body>
</html>