{% extends 'template.html' %}

{% block body %}


    <div class="container" style="background: white">
        <p>AAAA</p>



        <p></p>

        <span class="tag"></span>

        <div class="tag-container">
            <span class="tags-input">XAS</span>
            <p class="tag-label" style="">ADSF</p>
        </div>
        <img src="/media/pic/yuanquan_15542955602.jpg" alt="aaa">
        <img src="/static/user_pic/yuanquan_15542955602.jpg" alt="bbb" width="100px" height="100px">
    </div>

{% endblock %}