{% extends 'template.html' %}

{% block title %} 发表新帖 {% endblock %}

{% block add_head %}
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
{% endblock %}

{% block body %}

<div class="layui-container fly-marginTop">

    <div class="fly-panel" style="padding-top: 5px; padding-left: 10px; padding-right: 10px;">

        {% if request.user.is_authenticated %}

        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user" >

                <ul class="layui-tab-title" style="padding: 0 10px">
                    <li class="layui-this">发表新帖<!-- 编辑帖子 --></li>
                </ul>

                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding-top: 20px ;">
                    <div class="layui-tab-item layui-show" style="height: 100%">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md3">
                                    <label class="layui-form-label">所在专栏</label>
                                    <div class="layui-input-block">
                                        <select  name="type" lay-filter="column" lay-verify="required">
                                            <option></option>
                                            {% for type in types %}
                                                {% if type == article.type %}
                                                    <option value="{{ type.type_name }}" selected>{{ type.type_name }}</option>
                                                {% else %}
                                                    <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-col-md9">
                                    <label for="L_title" class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_title" name="title" autocomplete="off"
                                               class="layui-input" lay-verify="required" value="{{ article.title }}">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="article" name="content"
                                              placeholder="详细描述" class="layui-textarea fly-editor" lay-verify="required"
                                              style="height: 400px">{{ article.content }}</textarea>
                                </div>
                            </div>

                            <div class="layui-form-item" style="text-align: right">
                                <button class="layui-btn" type="submit" id="add_article">确定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}

        {% endif %}


    </div>
</div>


{% endblock %}


{% block add_script %}
    <script>
    $("#add_article").click(function () {
        console.log(100);
    });


    </script>
{% endblock %}