{% extends 'article/template_article.html' %}

{% block title %} 帖子详情页 {% endblock %}

{% load like_tags %}
{% load collection %}

{% block add_head %}

    <link rel="stylesheet" href="/static/css/test.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <script type="text/javascript">
        function f() {
            var className = document.getElementsByClassName("post-floor");
            for (var i = 0; i < className.length; i++) {
                className[i].innerHTML = (i + 1) + '#';
            }
        }
    </script>
{% endblock %}

{% load staticfiles %}

{% block article_body %}

    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md9 content detail">
                <div class="fly-panel detail-box">
                    <h1>
                        {{ article.title }} &nbsp;
                        {% if article.is_stick %}
                            <span class="layui-badge layui-bg-black">置顶</span>
                        {% endif %}
                        {% if article.author == request.user %}
                            <a href="{% url 'edit_article' article.pk %}" class="layui-badge layui-bg-blue">编辑</a>
                            <!--
                            <a href="" class="layui-badge layui-bg-green fly-detail-column">删除</a>
                            -->
                        {% endif %}
                    </h1>

                    <div class="detail-about" style="margin-top: 15px">
                        <a class="fly-avatar" href="{% url 'user_home' article.author.username %}">
                            <img src="{{ article.author.url }}"
                                 alt={{ article.author }}>
                        </a>
                        <div class="fly-detail-user">
                            <a href="{% url 'user_home' article.author.username %}" class="fly-link">
                                <cite>{{ article.author }}</cite>
                            </a>
                            {% if article.author.info %}
                                <i class="iconfont icon-renzheng" title="认证信息:{{ article.author.info.name }}"></i>
                                <i class="layui-badge fly-badge-vip">{{ article.author.info.name }}</i>
                            {% endif %}
                        </div>
                        <div>
                            <span>发表于 {{ article.create_time }}</span>
                        </div>
                    </div>

                    <div class="markdown-body detail-body photos" style="margin-bottom: 45px">
                        {{ article.content|safe }}
                        <div class=" fly-column-right zan" style="margin-right: 35px; margin-top:15px; top: auto;
                                font: 15px/1.5 arial,STHeiti,'Microsoft YaHei',\5b8b\4f53;">

                            <a href="javascript:void(0);" style="margin: 0 10px"
                                        title="{% if request.user.is_authenticated %}{% get_collect_title article request.user %}{% endif %}"
                                        onclick="collect_change(this, {{ article.pk }})">
                                <span class="collect_article {% if request.user.is_authenticated %}{% get_collect_class article request.user %}{% endif %}">
                                    收藏(<span class="coll_num">{% get_coll_num article %}</span>)
                                </span>
                            </a> |
                            <a href="javascript:void(0);" style="margin: 0 10px"
                                         onclick="likeChange(this, '{% get_content_type article %}', {{ article.pk }}, 'article_like')">
                                <span class="article_like {% get_like_status article %}" >
                                    赞(<span class="like_num">{% get_like_count article %}</span>)
                                </span>
                            </a> |
                            <a href="#cke_id_text" style="margin: 0 10px">回帖</a> |
                            <a href="" id="report" style="margin: 0 10px">举报</a>
                        </div>
                    </div>

                </div>

                <div class="fly-panel detail-box">

                    <div>
                        <h2>{{ comments|length }}条回帖</h2>
                        <hr>

                    </div>
                    <ul class="jieda" id="comment-list">

                        {% for comment in comments %}
                            <li>
                                <div class="detail-about detail-about-reply" id="comment_{{ comment.pk }}">
                                    <a class="fly-avatar" href="{% url 'user_home' comment.article.author.username %}">
                                        <img src="{{ comment.author.url }}"
                                             alt=" ">
                                    </a>
                                    <div class="fly-detail-user">
                                        <a href="{% url 'user_home' comment.article.author.username %}" class="fly-link">
                                            {{ comment.author.username }}
                                            {% if comment.author.info %}
                                                <i class="iconfont icon-renzheng" title="认证信息：ACMer"></i>
                                            {% endif %}
                                        </a>

                                        {% if article.author == comment.author %}
                                            <span>(楼主)</span>
                                        {% endif %}

                                        {% if comment.author.is_superuser %}
                                            <span style="color:#5FB878; margin-left: 5px">(管理员)</span>
                                        {% endif %}
                                        <span class="post-floor">1#</span>
                                    </div>

                                    <div class="detail-body jieda-body photos" style="margin: 10px 0">
                                        <h3>{{ comment.content|safe }}</h3>
                                    </div>

                                    <div>
                                        <span class="detail-hits"> 回复于{{ comment.create_time }}</span>

                                        <div class="jieda-reply " style="float: right; font-size: 14px;">
                                            <a onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }}, 'jieda-zan')">
                                            <span class="jieda-zan {% get_like_status comment %}" type="zan">
                                                <i class="layui-icon">&#xe6c6;</i>
                                                <em style="margin-bottom: 5px"
                                                    class="like_num">{% get_like_count comment %}</em>
                                            </span>
                                            </a>
                                                <i class="layui-icon">&#xe611;</i>
                                                <span onclick="replay_comment('{{ comment.author.username }}')">回复</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="fly-none" id="detail-comment-none">消灭零回复</li>
                        {% endfor %}
                        <!-- 添加楼层 -->
                        <script>
                            f();
                        </script>

                    </ul>

                    <div class="layui-form layui-form-pane">
                        <form id="detail-comment-form" action="" method="post">
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}

                            <div class="layui-form-item" style="text-align: right; margin-top: 10px;">
                                <button id="detail-comment-submit" type="submit" class="layui-btn">提交回复</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">

                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title" style="font-size: 18px">类似帖子</dt>
                    <div class="fly-none">没有相关数据</div>
                </dl>

                {% include 'common/hot_article.html' %}

            </div>
        </div>
    </div>


{% endblock %}

{% block add_script %}

    <script type="text/javascript">
        function numFormat(num) {
            return ('00' + num).substr(-2);
        }

        function timeFormat(timestamp) {
            var datetime = new Date(timestamp * 1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            return year + '年' + month + '月' + day + '日 ' + hour + ':' + minute;
        }

        $('#detail-comment-form').submit(function () {
            if ('{{ request.user }}' == 'AnonymousUser') {
                layer.msg('请登录后评论');
                return false;
            }
            CKEDITOR.instances["id_text"].updateElement();

            $.ajax({
                url: '{% url 'add_comment' article.pk %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data.status == 'SUCCESS') {
                        layer.msg('评论成功');
                        var add_comment = '<li>' +
                            '<div class="detail-about detail-about-reply" id="' + data['comment_id'] +'">' +
                            '<a class="fly-avatar" href="/user/home/' + '{{ request.user.username }}' + '">\n' +
                            '<img src="' + '{{ request.user.url }}' + '"\n' +
                            'alt=""></a><div class="fly-detail-user">\n' +
                            '<a href="/user/home/' + '{{ request.user.username }}' + '" class="fly-link">\n' + data.user +
                            '</a>';
                        if (data.is_louzhu) add_comment += '<span>(楼主)</span>';
                        if (data.is_superuser) add_comment += '<span style="color:#5FB878; margin-left: 5px">(管理员)</span>';
                        add_comment +=
                            '<span class="post-floor">1#</span></div>\n' +
                            '<div class="detail-body jieda-body photos" style="margin: 10px 0">\n' +
                            '<h3>' + data.comment_content + '</h3>\n' +
                            '</div> <div><span class="detail-hits" > 回复于' + timeFormat(data.comment_time) + '</span>\n' +
                            '<div class="jieda-reply " style="float: right; font-size: 14px;">\n' +
                            '<span class="jieda-zan " type="zan">\n' +
                            '<i class="layui-icon" >&#xe6c6;</i><em style="margin-bottom: 5px">0</em>\n' +
                            '</span><i class="layui-icon">&#xe611;</i>\n' +
                            '<span>回复</span></div></div></div></li>';

                        $("#comment-list").prepend(add_comment);
                        $(".editormd-html-textarea").text('');
                        $("#detail-comment-none").remove();
                        console.log(data['comment_id'])
                        $('html').animate({
                            scrollTop: $('#'+data['comment_id']).offset().top-160
                        }, 500);
                        CKEDITOR.instances['id_text'].setData('');
                        f();
                    } else {
                        var error_message = data['error'];
                        layer.msg(error_message);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });

        function likeChange(obj, content_type, object_id, class_name) {
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: "{% url 'like_change' %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function (data) {
                    if (data['status'] == 'SUCCESS') {
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName(class_name));
                        console.log(element);
                        console.log(class_name);
                        if (is_like) {
                            element.addClass('active');
                        } else {
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('like_num'));
                        liked_num.text(data['like_num']);
                    } else {
                        console.log(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        }

        function collect_change(obj, article_id) {
            if ('{{ request.user.is_authenticated }}' == 'False') {
                layer.msg('请先登录');
                return false;
            }
            var is_like = obj.getElementsByClassName('active').length == 0
            console.log(is_like)
            $.ajax({
                url: "{% url 'collect_change' %}",
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    article_id: article_id,
                    is_like: is_like
                },
                cache: false,
                success: function (data) {
                    console.log(data)
                    if (data['status'] == 'SUCCESS') {
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('collect_article'));
                        console.log(element);
                        if (is_like) {
                            element.addClass('active');
                        } else {
                            element.removeClass('active');
                        }
                        // 更新收藏数量
                        var coll_num = $(obj.getElementsByClassName('coll_num'));
                        console.log(coll_num);
                        coll_num.text(data['collect_num']);
                    } else {
                        console.log(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        }

        $('#report').on('click', function(){
            if ('{{ request.user.is_authenticated }}' == 'False') {
                layer.msg('您尚未登录, 请先登录');
                return false;
            }
            var jubao = '<textarea id="liyou" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>';
            var index = layer.open({
                title: '请输入举报理由',
                content: jubao,
                btn: ['确认', '取消',],
                yes: function(index, layero) {
                    if ($("#liyou").val() == '') {
                        layer.msg('举报理由不能为空');
                        return false;
                    }
                    $.ajax({
                        url: '{% url "report" %}',
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            liyou: $("#liyou").val(),
                            article_id: {{ article.pk }},
                        },
                        cache: false,
                        success: function (data) {
                            console.log(data);
                            if (data['status'] == 'SUCCESS') {
                                layer.msg('我们已收到您的举报, 会尽快处理该帖子');
                            } else {
                                layer.msg(data['message']);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                        }
                    });
                },
                btn2: function(index, layero){
                },
                cancel: function(){
                }
            });
            layer.style(index, {
                  width: '500px',
            });
            return false;
        });

        function replay_comment(user_) {
            var h = '<a href="/user/home/' + user_ + '">@yuanquan</a>';
            CKEDITOR.instances["id_text"].insertHtml(h);
            $('html').animate({
                scrollTop: $("#cke_id_text").offset().top-160
            }, 500);
        }

        if (window.location.hash) {
            $('html').animate({
                scrollTop: $(window.location.hash).offset().top-160
            }, 500);
        }
    </script>
{% endblock %}
