{% extends "template.html" %}
{% block title %} 我的 {% endblock %}
{% block add_head %}
    <link rel="stylesheet" href="/static/css/test.css">
{% endblock %}

{% load like_tags %}
{% block body %}
{% if request.user.is_authenticated %}
<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="{% url 'user_home' request.user.username %}">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href={% url "user_info" %}>
                <i class="layui-icon">&#xe612;</i>
                我的帖子
            </a>
        </li>
        <li class="layui-nav-item">
            <a href={% url "settings" %}>
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href={% url "message" %}>
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <!--
        <div class="fly-msg" style="margin-top: 15px;">
          您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
        </div>
        -->
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="mine-jie" id="w1" class="layui-this">
                    我发的帖（<span id="count_art">{{ articles|length }}</span>）
                </li>
                <li data-type="collection" id="w2">
                    我收藏的帖（<span id="count_coll">{{ collect_articles|length }}</span>）
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-content layui-tab-item layui-show" style="padding: 5px 0;">
                    <div class="layui-form layui-border-box layui-table-view">
                        <div class="layui-table-header">
                            <table cellspacing="0" cellpadding="0" border="0" class="layui-table"
                                   lay-skin="line" style="width: 100%">
                                <thead>
                                <tr>
                                    <th data-field="title" data-key="1-0-0" data-minwidth="300" class="laytable-cell-1-0-0">
                                        <div class="layui-table-cell">
                                            <span>帖子标题</span>
                                        </div>
                                    </th>
                                    <th data-field="status" data-key="1-0-1" class="laytable-cell-1-0-1">
                                        <div class="layui-table-cell " align="center"><span>状态</span>
                                        </div>
                                    </th>

                                    <th data-field="time" data-key="1-0-3" class="laytable-cell-1-0-2">
                                        <div class="layui-table-cell " align="center">
                                            <span>发表时间</span>
                                        </div>
                                    </th>
                                    <th data-field="4" data-key="1-0-4" class="laytable-cell-1-0-3">
                                        <div class="layui-table-cell" align="center">
                                            <span>数据</span>
                                        </div>
                                    </th>
                                    <th data-field="5" data-key="1-0-5" class="laytable-cell-1-0-4">
                                        <div class="layui-table-cell" align="center">
                                            <span>操作</span>
                                        </div>
                                    </th>
                                </tr>
                                </thead>

                                {% for article in articles %}

                                    <tr id="my_article_{{ article.pk }}">
                                        <td data-field="title" data-key="1-0-0"
                                            data-content={{ article.title }} data-minwidth="300" class="laytable-cell-1-0-0">
                                            <div class="layui-table-cell ">
                                                <a href="{% url "article_detail" article.pk %}" target="_blank"
                                                    class="layui-table-link">{{ article.title }}
                                                </a>
                                            </div>
                                        </td>
                                        <td data-field="status" data-key="1-0-1" align="center" class=" laytable-cell-1-0-1">
                                            <div class="layui-table-cell">
                                                <span style="color: #999;">正常</span>
                                            </div>
                                        </td>
                                        <td data-field="time" data-key="1-0-2" align="center" class="laytable-cell-1-0-2">
                                            <div class="layui-table-cell">{{ article.create_time }}</div>
                                        </td>
                                        <td data-field="4" data-key="1-0-3" align="center" class=" laytable-cell-1-0-3">
                                            <div class="layui-table-cell">
                                                <span style="font-size: 14px;">
                                                    {{ article.get_read_num }}浏览/{% get_like_count article %}赞/{{ article.comment_set.all|length }}回复
                                                </span>
                                            </div>
                                        </td>
                                        <td data-field="5" data-key="1-0-4" align="center" class="laytable-cell-1-0-4">
                                            <div class="layui-table-cell">
                                                <a class="layui-btn layui-btn-xs" href="{% url 'edit_article' article.pk %}">编辑</a>
                                                <button class="layui-btn layui-btn-xs layui-btn-danger"
                                                        id="del_{{ article.pk }}" onclick="delete_article({{ article.pk }})">
                                                    删除
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        {% if not articles %}
                            <div class="layui-table-body layui-table-main">
                                <table cellspacing="0" cellpadding="0" border="0" class="layui-table"
                                       lay-skin="line">
                                    <tbody></tbody>
                                </table>
                                <div class="layui-none">无数据</div>
                            </div>
                        {% endif %}

                    </div>

                </div>  <!-- 列表 -->

                <div class="layui-tab-item">

                    <div class="layui-form layui-border-box layui-table-view">
                        <div class="layui-table-box">
                            <div class="layui-table-header">
                                <table cellspacing="0" cellpadding="0" border="0" class="layui-table"
                                   lay-skin="line" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th data-field="title" data-key="4-0-0" data-minwidth="600" class="laytable-cell-4-0-0">
                                            <div class="layui-table-cell "><span>帖子标题</span>
                                            </div>
                                        </th>

                                        <th data-field="time" data-key="1-0-3" class="laytable-cell-4-0-1">
                                            <div class="layui-table-cell " align="center">
                                                <span>发表时间</span>
                                            </div>
                                        </th>
                                        <th data-field="collection_timestamp" data-key="4-0-1" class="laytable-cell-4-0-1">
                                            <div class="layui-table-cell " align="center"><span>操作</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    {% for article in collect_articles %}

                                    <tr id="coll_article_{{ article.pk }}">
                                        <td data-field="title" data-key="1-0-0"
                                            data-content={{ article.title }} data-minwidth="300" class="laytable-cell-4-0-0">
                                            <div class="layui-table-cell ">
                                                <a href="{% url "article_detail" article.pk %}" target="_blank"
                                                    class="layui-table-link">{{ article.title }}
                                                </a>
                                            </div>
                                        </td>

                                        <td data-field="time" data-key="1-0-2" align="center" class="laytable-cell-4-0-1">
                                            <div class="layui-table-cell">{{ article.create_time }}</div>
                                        </td>
                                        <td data-field="5" data-key="1-0-4" align="center" class="laytable-cell-4-0-1">
                                            <div class="layui-table-cell">
                                                <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="delete_collection({{ article.pk }})">删除</button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            {% if not collect_articles %}
                                <div class="layui-table-body layui-table-main">
                                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table"
                                           lay-skin="line">
                                        <tbody></tbody>
                                    </table>
                                    <div class="layui-none">无数据</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% else %}
    {% include 'common/error404.html' %}
{% endif %}
{% endblock %}

{% block add_script %}
    <script type="text/javascript">
        function delete_article(article_id) {
            var index = layer.open({
                title: '提示',
                content: '帖子删除后不可恢复, 是否继续',
                btn: ['是', '否',],
                yes: function(index, layero) {
                    $.ajax({
                        url: "{% url 'delete_article' %}",
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            article_id: article_id,
                        },
                        cache: false,
                        success: function (data) {
                            console.log(data);
                            if (data['status'] == 'SUCCESS') {
                                layer.msg("已成功删除");
                                var art = document.getElementById('my_article_' + article_id);
                                art.remove();
                                $('#count_art').text(($('#count_art').text() - 1))
                            } else {
                                layer.msg(data['message']);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                        }
                    });
                },
            });
            layer.style(index, {
                  width: '500px',
            });
        }

        function delete_collection(article_id) {
            var index = layer.open({
                title: '提示',
                content: '确定删除收藏的帖子?',
                btn: ['是', '否',],
                yes: function(index, layero) {
                    $.ajax({
                        url: "{% url 'delete_collection' %}",
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            article_id: article_id,
                        },
                        cache: false,
                        success: function (data) {
                            console.log(data);
                            if (data['status'] == 'SUCCESS') {
                                layer.msg("已成功删除");
                                var art = document.getElementById('coll_article_' + article_id);
                                art.remove();
                                $('#count_coll').text(($('#count_coll').text() - 1))
                            } else {
                                layer.msg(data['message']);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                        }
                    });
                },
            });
            layer.style(index, {
                  width: '500px',
            });
        }

        window.onload = function () {
            if ({{ col }}) $("#w2").click();
        };
    </script>

{% endblock %}