{% extends "template.html" %}

{% block title %}登录{% endblock %}

{% block body %}
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user" style="text-align: center!important;">
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a href="{% url "register" %}">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show" >
                    <div class="layui-form layui-form-pane" >

                        <form method="post" action="{% url "login" %}">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <div class="layui-form-item" style="margin-left: 38%">
                                    <label for="L_email" class="layui-form-label">{{ field.label }}</label>
                                    <div class="layui-input-inline">{{ field }}</div>
                                </div>
                            {% empty %}
                            {% endfor %}
                            <div class="layui-form-item" style="margin-top: 30px">
                                <button class="layui-btn" type="submit">立即登录</button>
                                <span style="padding-left:20px;">
                                <a href="forget.html">忘记密码？</a>
                                </span>
                            </div>
                        </form>
<!--
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">人类验证</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required"
                                           placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">
                                    <span style="color: #c00;">{{ d.vercode }}</span>
                                </div>
                            </div>


                            <div class="layui-form-item fly-form-app">
                                <span>或者使用社交账号登入</span>
                                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})"
                                   class="iconfont icon-qq" title="QQ登入"></a>
                                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})"
                                   class="iconfont icon-weibo" title="微博登入"></a>
                            </div>
                            -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


</body>
</html>