{% extends "template.html" %}

{% block title %} 用户主页 {% endblock %}
{% load like_tags %}

{% block body %}


    <div class="fly-home fly-panel">
        <img src="{{ query_user.url }}"
             alt="{{ query_user.username }}">
        <i class="iconfont icon-renzheng" title="ACM社区认证"></i>
        <h1>
            {{ query_user }}

            {% if query_user.sex == 0 %}
                <i class="iconfont icon-nan"></i>
            {% else %}
                <i class="iconfont icon-nv"></i>
            {% endif %}

            {% if query_user.is_superuser %}
                <span style="color:#c00;">（管理员）</span>
            {% endif %}

        </h1>

        <p style="padding: 10px 0; color: #5FB878;">认证信息：{{ query_user.info.name }}</p>

        <p class="fly-home-info">
            <i class="iconfont icon-shijian"></i><span>{{ query_user.date_joined }} 加入</span>
            {% if query_user.city == "未知" %}
                <i class="iconfont icon-chengshi"></i><span>未知城市</span>
            {% else %}
                <i class="iconfont icon-chengshi"></i><span>来自{{ query_user.city }}</span>
            {% endif %}
        </p>

        <p class="fly-home-sign">{{ query_user.desc }}</p>

    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6 fly-home-jie">
                <div class="fly-panel">
                    <h3 class="fly-panel-title">{{ query_user.username }} 最近的提问</h3>
                    <ul class="jie-row">

                        {% for article in articles %}
                        <li>
                            {% if article.is_stick %}
                                <span class="fly-jing">置顶</span>
                            {% endif %}
                            <a href={% url "article_detail" article.pk %} class="jie-title"> {{ article.title }}</a>
                            <i>发表于: {{ article.create_time }}</i>
                            <em class="layui-hide-xs">{{ article.get_read_num }}浏览/{% get_like_count article %}赞/{{ article.comment_set.all|length }}回复</em>
                        </li>
                        {% empty %}
                            <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;">
                                <i style="font-size:14px;">没有发表任何求解</i>
                            </div>
                        {% endfor %}


                    </ul>
                </div>
            </div>

            <div class="layui-col-md6 fly-home-da">
                <div class="fly-panel">
                    <h3 class="fly-panel-title">{{ query_user.username }} 最近的回答</h3>
                    <ul class="home-jieda">

                        {% for comment in query_user.comment_set.all %}
                             <li>
                            <p>
                                <span>{{ comment.create_time }}</span>
                                在<a href="{% url 'article_detail' comment.article.pk %}" target="_blank">
                                    {{ comment.article.title }}
                                </a>中回答：
                            </p>
                            <div class="home-dacontent">
                                {{ comment.content|safe }}
                            </div>
                        </li>
                        {% empty %}
                             <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;">
                                 <span>没有回答任何问题</span>
                             </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}